<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
    <title>Cadastro de Cupom</title>
</head>
<body>
<section layout:fragment="header">
    <h1>Cadastro de Cupom</h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">Cadastro de Cupom</li>
    </ol>
</section>
<div layout:fragment="content">
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Formulário</h3>
            <div class="box-tools pull-right">
                <a href="/coupons" type="button" class="btn btn-box-tool"><i class="fa fa-list-ul"></i></a>
            </div>
        </div>
        <form data-toggle="validator" role="form" th:object="${coupon}" th:action="@{/coupons/save}" method="post">
            <div class="box-body">
                <input type="hidden" th:field="*{id}"/>

                <div class="form-group">
                    <label for="description">Descricao</label>
                    <input type="text" required="true" class="form-control" th:field="*{description}" id="description" />
                </div>
                <div class="form-group">
                    <label for="discount">Desconto</label>
                    <input type="text" required="true" class="form-control" th:field="*{discount}" id="discount" />
                </div>
                
                <div class="form-group">
                    <label for="qrCode">QRCode</label>
                    <input type="text" required="true" class="form-control" th:field="*{qrCode}" id="qrCode" />
                </div>
                <div class="form-group">                                   
                    <img alt="Image" th:src="${'/coupons/image/'+idCoupon}" width="250" height="250"/>                 
                </div>
            </div>
            <div class="box-footer">
                <button type="submit" class="btn btn-primary">Salvar</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>