<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
    <title>Cadastro de Promoção</title>
</head>
<body>
<section layout:fragment="header">
    <h1>Cadastro de Promoção</h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">Cadastro de Promoão</li>
    </ol>
</section>
<div layout:fragment="content">
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Formulário</h3>
            <div class="box-tools pull-right">
                <a href="/promotions" type="button" class="btn btn-box-tool"><i class="fa fa-list-ul"></i></a>
            </div>
        </div>
        <form data-toggle="validator" role="form" th:object="${promotion}" th:action="@{/promotions/save}" method="post">
            <div class="box-body">
                <input type="hidden" th:field="*{id}"/>

                <div class="form-group">
                    <label for="description">Descricao</label>
                    <input type="text" required="true" class="form-control" th:field="*{description}" id="description" />
                </div>
                <div class="form-group">
                    <label for="fromDate">De (yyyy/mm/dd)</label>
                    <input type="text" required="true" class="form-control" th:field="*{fromDate}" id="fromDate" />
                </div>
                
                <div class="form-group">
                    <label for="toDate">Até (yyyy/mm/dd)</label>
                    <input type="text" required="true" class="form-control" th:field="*{toDate}" id="toDate" />
                </div>
                
            </div>
            <div class="box-footer">
                <button type="submit" class="btn btn-primary">Salvar</button>
            </div>
            
        </form>
        
            <div class="box-body no-padding">
            <table class="table table-striped">
                <tr>
                    <th>ID</th>
                    <th>Descrição</th>
                    <th>Desconto</th>
                    <th>QRCode</th>
                    <th>Ações</th>
                </tr>
                <tr th:each="row : ${list}">
                    <td th:text="${row.id}"></td>
                    <td th:text="${row.description}"></td>
                    <td th:text="${row.discount}"></td>
                    <td th:text="${row.qrCode}"></td> 
                    <td>
                       <a th:href="${'/promotions/edit/'+idPromotion+'/coupons/edit/' + row.id}">editar</a> -
                        <a th:href="${'/promotions/edit/'+idPromotion+'/coupons/delete/' + row.id}">excluir</a>                        
                    </td>
                </tr>
            	</table>
        	</div>
        
    </div>
</div>
</body>
</html>